fastapi
uvicorn
pydantic
pydantic-settings
pytest
pytest-asyncio
openpyxl
httpx
python-dotenv
google-genai
google-cloud-storage
pandas
python-multipart
numpy-financial
fpdf2
motor
redis
PyPDF2
xlrd
tenacity
openai